table.simple {
  border-collapse: collapse;
  border-top: thin solid;
  border-bottom: thin solid;
  border-left: thin solid;
  border-right: thin solid;
}

table.simple th {
  background-color: #eee;
  border-top: thin solid;
  border-bottom: thin double;
  border-left: thin solid;
  border-right: thin solid;
  font-size: x-large;
}

table.simple td {
  border-top: none;
  border-bottom: none;
  border-left: thin solid;
  border-right: thin solid;
  font-size: x-large;
}

table.theme {
  border-collapse: collapse;
  border-top: thin solid;
  border-bottom: thin solid;
  border-left: thin solid;
  border-right: thin solid;
}

table.theme th {
  background-color: #eee;
  border-top: thin solid;
  border-bottom: thin double;
  border-left: thin solid;
  border-right: thin solid;
  font-size: x-large;
}

table.theme td {
  border-top: thin solid;
  border-bottom: thin solid;
  border-left: thin solid;
  border-right: thin solid;
  font-size: x-large;
}

ul {
  list-style-type: none;
  vertical-align: center;
  padding: 0px;
  margin: 0px;
}

table.score_sheet {
  border-collapse: collapse;
  border-top: thin solid;
  border-bottom: thin solid;
  border-left: thin solid;
  border-right: thin solid;
}

table.score_sheet th {
  background-color: #eee;
  border-top: thin solid;
  border-bottom: thin double;
  border-left: thin solid;
  border-right: thin solid;
  font-weight: normal;
  vertical-align: bottom;
  width: 1.5em;
  line-height: 1em;
}

table.score_sheet td {
  border-top: thin solid;
  border-botton: thin solid;
  border-left: thin solid;
  border-right: thin solid;
  text-align: right;
  height: 1.5em;
  font-size: 80%;
}

table.score_sheet td:first-child {
  background-color: #eee;
  border-top: thin solid;
  border-botton: thin solid;
  border-left: thin solid;
  border-right: thin solid;
  font-size: 100%;
  height: 1em;
}

td.blackout {
  background-color: #000;
  border-top: thin solid;
  border-botton: thin solid;
  border-left: thin solid;
  border-right: thin solid;
}

hr.simple {
  height: 0px;
  border: solid thin;
}

hr.shadow_down {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
